* {
    margin:0;
    padding:0;
}

body {
    font-family:helvetica, arial, sans-serif;
}

#wrapper {
    width:960px;
    margin:0 auto;
    overflow:hidden;
    border:1px solid #6b5678;
}

header {
    background:#a292ac;
    padding:3px 10px;
}

#wrapper > header{
    position:relative;
}

header h1 {
    font-family:Metrophobic;
    font-size:2.5em;
    letter-spacing:-.05em;
    color:#fff;
}

#accountHeader{
    position: absolute;
    top:25px;
    right:100px;
    text-align: right;

}

header h5 {
    font-family:Metrophobic;
    font-size:.9em;
    letter-spacing:-.05em;
    color:#fff;
}

img#logo {
    display:block;
    width: 150px;
    height: 150px;

}

section#feature_area  article div#about{
    float:left;
    width:440px;
    padding:10px 20px;
    background:#fff;
    margin:20px;

}

section#feature_area  article div#login {
    float:left;
    width:340px;
    padding:10px 20px;
    background:#fff;
    margin:20px;

}

section#feature_area  article #about p{
    text-align:justify;
    vertical-align: middle;
    font-size:1.1em;
    font-style:italic;
}

section#feature_area  article h3{
    margin:20px auto;
    font-family:Metrophobic;
    text-align:center;
}

section#feature_area{
    border-top:4px solid #f7be84;
}


section#feature_area article .inner {
    margin:10px 20px;
    padding:5px;
    background:#fff;
    border:5px solid;
}

section#feature_area article:nth-child(1) .inner {
    border-color:#d7dd6f;
    min-height: 200px;
}
section#feature_area article:nth-child(2) .inner {
    border-color:#d1d8e4;
    min-height: 200px;
}

section#feature_area article p {
    font-family:'Open Sans';
    font-weight:300;
    font-size:1.15em;
    line-height:1em;
    text-align:center;
    color:#616161;
}
/* Sign In form fields */
#siginform fieldset {
    margin:0;
    padding:0 0 .2em 0;
    width:100%;
    border:0;
}

#siginform fieldset section{
    margin:.6em .6em 0 0; /* right margin ensures label text wraps before touching input */
    padding-bottom:.2em;
    font-family:Metrophobic;
    font-size:1.0em;
    font-weight:400;
    line-height:1.1;
    width: 22em;
    clear: both;
}

#siginform fieldset p.note {

    color:red;
    font-size:0.9em;
}

#siginform fieldset section label{
    float:left;
    width:8em;
    margin-bottom:10px;

}

#siginform fieldset section input{
    float:left;
    width:12em;
    margin-bottom:10px;
}

#siginform fieldset section input[type=submit] {
    float:none;

}

/*end of style for form fields*/
footer {
    clear:both;
    text-align:center;
    background:#6b5678;
}

footer p {
    font-family:'Open Sans';
    font-weight:600;
    font-size:.7em;
    letter-spacing:-.05em;
    color:#fff;
}

footer a {
    font-family:'Open Sans';
    font-weight:700italic;
    font-size:1em;
    color:#f7be84;
    text-decoration:none;
}

/*navigation related*/
nav{
    background:#f7be84;
    color: #838898;
    padding:3px 10px;
}
.mainmenu ul{
    overflow:hidden;
}
.mainmenu li{
    float:left;
    list-style-type:none;
}
.mainmenu a{
    display:block;
    padding:0 16px;
    text-decoration:none;
    color: #677190
}

.mainmenu li + li a {
    border-left:1px solid #677190;
}
.mainmenu a:hover {
    color:#20388C;
}